.navbar{margin-bottom: 0px;}
.navbar-brand{padding:0}
.navbar-brand img{width:200px}
.ou{background-color: #f5f5f5;}
.yewu{padding:30px 0px;}
.price{color: red;}
.det .title {background-color: aqua; text-align: center;}
H3{margin-top: 0;}